@font-face {
  font-family: queensides;
  src: url(./fonts/queensides-font/QueensidesLight-ZVj3l.ttf);
  font-weight: 100;
}

@font-face {
  font-family: queensides;
  src: url(./fonts/queensides-font/QueensidesMedium-x30zV.ttf);
  font-weight: 200;
}

@font-face {
  font-family: lato-normal;
  src: url(./fonts/lato-font/Lato-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: lato-light;
  src: url(./fonts/lato-font/Lato-Light.ttf);
  font-weight: lighter;
}

.margin {
  margin-top: 15vw;
}
.banner {
  background-color: black;
  width: 100vw;
  position: fixed;
  top: 0;
  text-align: center;
}

span {
  font-size: 10vw;
  color: white;
  font-family: queensides;
  font-weight: 200;
}

@media only screen and (min-width: 600px) {
  span {
    font-size: 5vw;
  }
  .margin {
    margin-top: 10vw;
  }
}
